<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link <%= (typeof title !== 'undefined' && title === 'Dashboard') ? 'active' : '' %>" aria-current="page" href="/admin/dashboard">
                    <span data-feather="home"></span>
                    Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link <%= (typeof title !== 'undefined' && title.includes('Đơn hàng')) ? 'active' : '' %>" href="/admin/orders">
                    <span data-feather="file"></span>
                    Đơn hàng
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link <%= (typeof title !== 'undefined' && title.includes('Sản phẩm')) ? 'active' : '' %>" href="/admin/products">
                    <span data-feather="shopping-cart"></span>
                    Sản phẩm
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link <%= (typeof title !== 'undefined' && title.includes('Danh mục')) ? 'active' : '' %>" href="/admin/categories">
                    <span data-feather="bar-chart-2"></span>
                    Danh mục
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link <%= (typeof title !== 'undefined' && title.includes('Người dùng')) ? 'active' : '' %>" href="/admin/users">
                    <span data-feather="users"></span>
                    Người dùng
                </a>
            </li>
        </ul>
        <hr/>
        <ul class="nav flex-column">
             <li class="nav-item">
                <a class="nav-link" href="/" target="_blank">
                    <span data-feather="external-link"></span>
                    Xem trang người dùng
                </a>
            </li>
        </ul>
    </div>
</nav>
<script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
<script>
    feather.replace(); // Kích hoạt icons
</script>