<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> - Furniture Store</title>
        <link rel="stylesheet" href="/css/admin.css"> 
        <link rel="stylesheet" href="/css/style.css"> 
</head>
<body>

    <% if (locals.user && locals.user.role === 'admin' && title.startsWith('Quản lý')) { %>
        <%- include('../partials/admin_header', { user: locals.user }) %>
    <% } else { %>
        <%- include('../partials/client_header', { user: locals.user }) %>
    <% } %>


    <main>
         <% if (typeof success !== 'undefined' && success) { %>
             <% if (Array.isArray(success)) { %>
                  <% success.forEach(msg => { %>
                       <p style="color: green; margin: 5px 0;"><%= msg %></p>
                  <% }); %>
             <% } else { %>
                 <p style="color: green; margin: 5px 0;"><%= success %></p>
             <% } %>
         <% } %>
        <% if (typeof error !== 'undefined' && error) { %>
             <% if (Array.isArray(error)) { %>
                 <% error.forEach(msg => { %>
                      <p style="color: red; margin: 5px 0;"><%= msg %></p>
                 <% }); %>
             <% } else { %>
                  <p style="color: red; margin: 5px 0;"><%= error %></p>
             <% } %>
        <% } %>

        <%- body %>
    </main>

    <%- include('../partials/footer') %> 

    <script src="/js/script.js"></script> 
</body>
</html>