<%- include('../layout/header') %>
<body>
  <div class="container mt-5">
    <h1 class="text-center mb-4">Users List</h1>
    <table class="table table-bordered table-striped">
      <thead class="table-dark">
        <tr>
          <th>ID</th>
          <th>Email</th>
          <th>Image</th>
          <th>Name</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% users.forEach(usera => { %>
          <tr>
            <td><%= usera.id %></td>
            <td><%= usera.email %></td>
            <td>
              <% if (usera.image) { %>
                <img src="/uploads/<%= usera.image %>" alt="Book Image" width="80">
              <% } else { %>
                <span>Không có ảnh</span>
              <% } %>
            </td>
            <td><%= usera.name %></td>
            <td>
              <a href="/users/<%= user.id %>" class="btn btn-info btn-sm">View</a>
              <% if (user) {
                if (user.id === usera.id) { %>
              
                <a href="/users/edit/<%= user.id %>" class="btn btn-warning btn-sm">Edit</a>
              <% }
                } else { %>
                <i class="bi bi-ban"></i>
              <% } %>

            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
    <a href="/users/new" class="btn btn-primary">Add New User</a>
  </div>
  <%- include('../layout/footer') %>