<%- include('../layout/header') %>
  <div class="container mt-5">
    <h1 class="text-center mb-4">Book Details</h1>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Title: <%= book.title %>
        </h5>
        <p class="card-text">Author:
          <% users.forEach(usera=> { %>
            <% if (book.user_id===usera.id) { %>
              <%= usera.name %>
                <% } %>
                  <% }) %>
        </p>
        <p class="card-text">Image: <br> <img src="/uploads/<%= book.image %>" alt="Book Image" width="80">
        </p>
        <p class="card-text">Price: $<%= book.price %>
        </p>

        <p class="card-text">Genre:
          <% genres.forEach(genre=> { %>
            <% if (book.genre_id===genre.id) { %>
              <%= genre.name %>
                <% } %>
                  <% }) %>
        </p>
        <p class="card-text">Decription: <%= book.decription %>
        </p>
        <a href="/books" class="btn btn-primary">Back to Books</a>
      </div>
    </div>
  </div>

  <%- include('../layout/footer') %>